# === Python / Backend ===
venv/
image-search-backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.env
*.log
*.pt

# === Angular / Frontend ===
node_modules/
image-search-frontend/node_modules/
dist/
image-search-frontend/dist/
.angular/
.history/

# === IDE / Editor ===
.vscode/
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# === Cache / Build / Test ===
/tmp
/out-tsc
/bazel-out
.sass-cache/
coverage/
connect.lock
libpeerconnection.log
testem.log
typings/

# === Misc ===
.DS_Store
Thumbs.db
