# Core dependencies
numpy
torch==2.2.0+cpu
torchvision==0.17.0+cpu
fastapi
uvicorn
python-dotenv
python-multipart
pillow
requests
opencv-python
serpapi
google-search-results

--extra-index-url https://download.pytorch.org/whl/cpu
