numpy
torch==2.2.0+cpu
torchvision==0.17.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
python-dotenv
serpapi
google-search-results
python-multipart
pillow
git+https://github.com/ultralytics/yolov5.git
requests

