numpy<2
torch==2.2.0+cpu
torchvision==0.17.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

ultralytics==8.3.0
opencv-python
fastapi
uvicorn[standard]
python-dotenv
python-multipart
pillow
google-search-results
serpapi
